# PEC 2. Introducción a los sistemas de recuperación de información.

En esta PEC vamos a desarrollar un sistema de recuperación de información básico. Partiendo de una lista de documentos de texto tendrás que usar las técnicas de recuperación de información vistas en la asignatura para obtener, procesar y analizar datos útiles a partir del contenido.




```
#TODO: nombre y apellidos
```



---

# **Parte 1**. Tareas básicas

Además de las ya clásicas `pandas` y `numpy`, vamos a utilizar la librería [NTLK](https://es.wikipedia.org/wiki/NLTK) (Natural Language Toolkit), una librería Python utilizada para analizar texto y aprendizaje automático.

In [2]:

pip install pandas

Requirement already satisfied: pandas in c:\users\aland\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\aland\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\aland\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\aland\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\aland\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Users\aland\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [3]:
pip install nltk

Requirement already satisfied: nltk in c:\users\aland\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (3.6.2)
Requirement already satisfied: joblib in c:\users\aland\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from nltk) (1.0.1)
Requirement already satisfied: regex in c:\users\aland\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from nltk) (2021.7.6)
Requirement already satisfied: tqdm in c:\users\aland\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from nltk) (4.61.2)
Requirement already satisfied: click in c:\users\aland\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from nltk) (8.0.1)
Requirement already satisfied: colorama in c:\users\aland\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from click->nltk) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Users\aland\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\lau92\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\lau92\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

## 1.1 Separando las palabras (Tokenization)

El significado de cada sentencia se obtiene de las palabra que contiene. Así que analizando las palabras presentes en un texto se puede interpretar el significado. Así que lo primero que hay que hacer para poder tratar el texto es separar las palabras que lo componen, es decir, hacer una lista  de palabras. El modelo que vamos a utilizar aquí se denomina [**bolsa-de-palabras**](https://es.wikipedia.org/wiki/Modelo_bolsa_de_palabras) (bag-of-words) ya que nos interesan las palabras sin importar su posición o importancia en el documento.


La separación de las palabres o tokenization consiste en separar el texto en palabras, también denominados tokens. Generalmente el `espacio`se utiliza para separar palabras y elementos como los puntos, comas, dos puntos, etc. se utilizan para separar sentencias.

Hay multiples formas de realizar la separación de palabras para un texto dado. 

### 1.1.1 Funciones de Python

Se puede usar la función `split()` para separar una cadena de texto en una lista de palabras. Por defecto `split()` utiliza el espacio en blanco, aunque se puede usar cualquier caracter.

In [3]:
text01 = "Children shouldn't drink a sugary drink before bed."
text01.split(' ')

['Children', "shouldn't", 'drink', 'a', 'sugary', 'drink', 'before', 'bed.']

El método `split()` de Python no considera los signos de puntuación como elementos separados.

### 1.1.2 Expresiones regulares

El módulo `re` ofrece un conjunto de funciones para buscar coincidencias en una cadena de texto. Una *expresión regular* es una secuencia de caracteres que definen un patrón de búsqueda.

In [4]:
import re

text02 = """There are multiple ways we can perform tokenization on given text data. We can choose any method based on language, library and purpose of modeling."""
tokens = re.split(r"\s", text02)  # TODO: usar una expresión regular para separar las palabras
print(tokens)

['There', 'are', 'multiple', 'ways', 'we', 'can', 'perform', 'tokenization', 'on', 'given', 'text', 'data.', 'We', 'can', 'choose', 'any', 'method', 'based', 'on', 'language,', 'library', 'and', 'purpose', 'of', 'modeling.']

### 1.1.3 Con NLTK

Natural Language Toolkit (NLTK) tiene la función `word_tokenize()` para separación de palabras y `sent_tokenize()` para separación de sentencias.

In [5]:
from nltk.tokenize import sent_tokenize, word_tokenize

text03 = "<p>This is the first sentence. A gallon-of-milk in the U.S. costs $2.99. Is this the third sentence? Yes, it is!</p>"

for sent in sent_tokenize(text03): # TODO: separar las sentencias 
  print (word_tokenize(sent)) # TODO: separar las palabras

['<', 'p', '>', 'This', 'is', 'the', 'first', 'sentence', '.']
['A', 'gallon-of-milk', 'in', 'the', 'U.S.', 'costs', '$', '2.99', '.']
['Is', 'this', 'the', 'third', 'sentence', '?']
['Yes', ',', 'it', 'is', '!', '<', '/p', '>']

## 1.2. Eliminación de números y símbolos. Conversión a minúsculas.

Como se puede comprobar, `word_tokenizer()` mantiene los signos de puntuación así como los los números y otros símbolos.

Una estrategia para reducir el número de palabras/tokens es convertirlas a minúsculas, pues algunos signos de puntuación modifican la letra inicial de las palabras. Así se consigue reducir el número de variantes de una misma palabra.

In [406]:
import string

def remove_tags (s):
 
  p = re.compile('<.*?>')  # TODO: eliminar tags html
  return re.sub(p,'', s)  # TODO

# TODO : eliminar tags, tokenizar, convertir a minúsculas y eliminar símbolos no alfabéticos y números 
def tokenize_and_remove_punctuations(s):
    remove_tag = remove_tags(s)

    text=remove_tag.lower()
    text=re.sub("","",text)
    text=re.sub("(\\d|\\W)+"," ",text)
    text=re.sub("[_=]",' ',text)
    return word_tokenize(text)
    # simbol_to_remove = re.compile('[,.!?$0-9_=]')
    
    # removed_text = re.sub(simbol_to_remove,'', remove_tag)
    # removed_text = re.sub(r':?\\+', '\n', removed_text)
    # return word_tokenize((removed_text.lower()).replace("-", " "))


print (tokenize_and_remove_punctuations (text03))

['this', 'is', 'the', 'first', 'sentence', 'a', 'gallon', 'of', 'milk', 'in', 'the', 'u', 's', 'costs', 'is', 'this', 'the', 'third', 'sentence', 'yes', 'it', 'is']

## 1.3. Palabras vacías

Las *palabras vacías* (stopwords) son palabras más comunes en cualquier lenguaje, tienen sentido gramatical pero con poco significado para el análisis de un texto. Estas palabras vacías se incluyen artículos, preposiciones, conjunciones, pronombres, etc. así que su eliminación reduce considerablemente el número de palabras.

NLTK tiene listas de palabras vacías en 16 idiomas. En este caso, se ha cargado la lista en inglés.

In [407]:
# TODO : dada una lista de tokens, suprimir aquellos que sean palabras vacías o que su longitud es menor o igual 2


def remove_stop_words(tokens):
    stopwords = nltk.corpus.stopwords.words('english')
    filtered_words = [x for x in tokens if x.lower() not in stopwords and len(x) > 2]  # TODO
    return filtered_words


len (remove_stop_words ( tokenize_and_remove_punctuations (text03)  ) ) == 8

True

## 1.4. Normalización

Muchos idiomas contienen palabras derivadas de otras y esto se denomina [flexión](https://es.wikipedia.org/wiki/Flexi%C3%B3n_(ling%C3%BC%C3%ADstica)). La flexión es la modificación de una para expresar diferentes categorías gramaticales como persona, número, género, etc.

Tratar esta flexión para llevar las palabras a una forma base se denomina **normalización de palabras**. La normalización permite que si se busca por una palabra se haga al mismo tiempo por todas sus flexiones.

La **lematización** es el proceso de reducir la inflexión de las palabras para llevarla a su forma origen o raíz. El lema es la parte de la palabra a la que se añade la flexión.

En NLTK hay disponibles diferentes lematizadores aunque aquí vamos a utilizar el más conocido: [algoritmo de Porter](https://es.wikipedia.org/wiki/Algoritmo_de_Porter). 


Podéis ver algo más de estos procesos en 
https://www.datacamp.com/community/tutorials/stemming-lemmatization-python

In [408]:

from nltk.stem import PorterStemmer

def stem_words(tokens):
    stemmer = PorterStemmer()
    # TODO : obtener la versión básica de todos los tokens
    stemmed_words = [stemmer.stem(x) for x in tokens]
    return stemmed_words


stem_words ( remove_stop_words(tokenize_and_remove_punctuations (text03)) )

['first', 'sentenc', 'gallon', 'milk', 'cost', 'third', 'sentenc', 'ye']

Una vez que ya están realizadas las operaciones básicas sobre el texto, es momento de ponerlo todo junto en la función `preprocess_data ()` que recibe un array de pares `(documentId, text)` y aplica las transformaciones anteriormente descritas.

In [409]:
def preprocess_text ( text , stem=True):
    tokens = tokenize_and_remove_punctuations (text)        # TODO : tokenizar y eliminar puntuación
    filtered_tokens = remove_stop_words(tokens)     # TODO : eliminar palabras vacías
    if stem :
        stemmed_tokens = stem_words(filtered_tokens)    # TODO : normalizar
    else:
        stemmed_tokens=filtered_tokens  # TODO
    return stemmed_tokens

def preprocess_data(contents, stem=True):
    dataDict = {}
    for content in contents:
        dataDict[content[0]] = preprocess_text(content[1], stem)
    return dataDict

In [410]:
document_1 = "I love watching movies when it's cold outside ;-)"
document_2 = "Toy Story is the best animation movie ever, I love it!"
document_3 = "Watching horror movies alone at night is really scary"
document_4 = "He loves to watch films filled with suspense and unexpected plot twists"
document_5 = "My mom loves to watch movies. My dad hates movie theaters. My brothers like any kind of movie. And I haven't watched a single movie since I got into college"
documents = [document_1, document_2, document_3, document_4, document_5]

docIds = ['doc01','doc02','doc03','doc04','doc05']

documents_list = zip(docIds,documents)# TODO : generar una lista de la forma  [('doc01': 'I love..'), ... ]


data_docs = preprocess_data(documents_list)  # TODO : preprocesar la lista de documentos de ejemplo
data_docs

{'doc01': ['love', 'watch', 'movi', 'cold', 'outsid'],
 'doc02': ['toy', 'stori', 'best', 'anim', 'movi', 'ever', 'love'],
 'doc03': ['watch', 'horror', 'movi', 'alon', 'night', 'realli', 'scari'],
 'doc04': ['love',
  'watch',
  'film',
  'fill',
  'suspens',
  'unexpect',
  'plot',
  'twist'],
 'doc05': ['mom',
  'love',
  'watch',
  'movi',
  'dad',
  'hate',
  'movi',
  'theater',
  'brother',
  'like',
  'kind',
  'movi',
  'watch',
  'singl',
  'movi',
  'sinc',
  'got',
  'colleg']}

## 1.5. Frecuencia de las palabras

Ahora vamos a ver cómo de importante es una palabra/token en los documentos. 

Lo primero que hay que hacer es obtener un vocabulario que no es más que la lista de todos los tokens únicos que aparecen en todos los documentos.

In [411]:
def get_vocabulary(data):
    tokens = []
    for token_list in data.values():
        tokens=tokens +token_list # TODO

    fdist={}
    for word in sorted(set(tokens)):    
        
        fdist[word] = tokens.count(word)
    return list(fdist.keys())
    

get_vocabulary (data_docs)

['alon',
 'anim',
 'best',
 'brother',
 'cold',
 'colleg',
 'dad',
 'ever',
 'fill',
 'film',
 'got',
 'hate',
 'horror',
 'kind',
 'like',
 'love',
 'mom',
 'movi',
 'night',
 'outsid',
 'plot',
 'realli',
 'scari',
 'sinc',
 'singl',
 'stori',
 'suspens',
 'theater',
 'toy',
 'twist',
 'unexpect',
 'watch']

Para ello podemos calcular la frecuencia de cada término contando el número de veces que aparece en cada documento, que será una medida de su peso o importancia.

$TF (t,d) = f_{t,d}$  (#número de repeticiones del término $t$ en el documento $d$)

In [412]:
from nltk.probability import FreqDist

def calculate_tf(tokens):
    tf_score = {}
    for token in sorted(tokens):
        tf_score[token] = FreqDist(tokens)[token] # TODO: calcular tf
    
    return tf_score

fdist = calculate_tf ( data_docs['doc05'])

fdist

{'brother': 1,
 'colleg': 1,
 'dad': 1,
 'got': 1,
 'hate': 1,
 'kind': 1,
 'like': 1,
 'love': 1,
 'mom': 1,
 'movi': 4,
 'sinc': 1,
 'singl': 1,
 'theater': 1,
 'watch': 2}

La **frecuencia inversa de documentos** para un término $t$ es el logaritmo (en este caso en base 2) del cociente entre el número de documentos y el número de documentos en los que aparece el término $t$.


$ IDF (t) = log_{2} \frac{N}{\{d \in D : t \in d \}} $

A mayor puntuación de TF*IDF el término es más específico y a menor puntuación, más genérico.

In [413]:
import math 

def calculate_idf(data):
    idf_score = {}
    N = len(data)        # TODO: número de documentos
    all_words = get_vocabulary(data)# TODO: obtener el vocabulario
    for word in all_words:
        word_count = 0
        
        for token_list in data.values():
            if word in token_list:
                word_count = word_count +1 
        idf_score[word] = math.log(N/word_count,2)# TODO: calcular idf
    return idf_score

idf_score = calculate_idf ( data_docs)
idf_score

{'alon': 2.321928094887362,
 'anim': 2.321928094887362,
 'best': 2.321928094887362,
 'brother': 2.321928094887362,
 'cold': 2.321928094887362,
 'colleg': 2.321928094887362,
 'dad': 2.321928094887362,
 'ever': 2.321928094887362,
 'fill': 2.321928094887362,
 'film': 2.321928094887362,
 'got': 2.321928094887362,
 'hate': 2.321928094887362,
 'horror': 2.321928094887362,
 'kind': 2.321928094887362,
 'like': 2.321928094887362,
 'love': 0.32192809488736235,
 'mom': 2.321928094887362,
 'movi': 0.32192809488736235,
 'night': 2.321928094887362,
 'outsid': 2.321928094887362,
 'plot': 2.321928094887362,
 'realli': 2.321928094887362,
 'scari': 2.321928094887362,
 'sinc': 2.321928094887362,
 'singl': 2.321928094887362,
 'stori': 2.321928094887362,
 'suspens': 2.321928094887362,
 'theater': 2.321928094887362,
 'toy': 2.321928094887362,
 'twist': 2.321928094887362,
 'unexpect': 2.321928094887362,
 'watch': 0.32192809488736235}

In [414]:
data_docs.items()

dict_items([('doc01', ['love', 'watch', 'movi', 'cold', 'outsid']), ('doc02', ['toy', 'stori', 'best', 'anim', 'movi', 'ever', 'love']), ('doc03', ['watch', 'horror', 'movi', 'alon', 'night', 'realli', 'scari']), ('doc04', ['love', 'watch', 'film', 'fill', 'suspens', 'unexpect', 'plot', 'twist']), ('doc05', ['mom', 'love', 'watch', 'movi', 'dad', 'hate', 'movi', 'theater', 'brother', 'like', 'kind', 'movi', 'watch', 'singl', 'movi', 'sinc', 'got', 'colleg'])])

In [415]:
def calculate_tfidf(data, idf_score):
    scores = {}
    for key,value in data.items():
        scores[key] = calculate_tf(value) #  TODO: calcular tf
    for doc,tf_scores in scores.items(): 
        listed={}    # TODO
        for token, score in tf_scores.items(): # TODO
            listed[token] = score*idf_score[token]
    #         
        scores[doc] = listed
            
    # #          # TODO
    # #          # TODO: calcular tf*idf
    return scores
    
tfidf_score = calculate_tfidf ( data_docs, idf_score)
tfidf_score
#

{'doc01': {'cold': 2.321928094887362,
  'love': 0.32192809488736235,
  'movi': 0.32192809488736235,
  'outsid': 2.321928094887362,
  'watch': 0.32192809488736235},
 'doc02': {'anim': 2.321928094887362,
  'best': 2.321928094887362,
  'ever': 2.321928094887362,
  'love': 0.32192809488736235,
  'movi': 0.32192809488736235,
  'stori': 2.321928094887362,
  'toy': 2.321928094887362},
 'doc03': {'alon': 2.321928094887362,
  'horror': 2.321928094887362,
  'movi': 0.32192809488736235,
  'night': 2.321928094887362,
  'realli': 2.321928094887362,
  'scari': 2.321928094887362,
  'watch': 0.32192809488736235},
 'doc04': {'fill': 2.321928094887362,
  'film': 2.321928094887362,
  'love': 0.32192809488736235,
  'plot': 2.321928094887362,
  'suspens': 2.321928094887362,
  'twist': 2.321928094887362,
  'unexpect': 2.321928094887362,
  'watch': 0.32192809488736235},
 'doc05': {'brother': 2.321928094887362,
  'colleg': 2.321928094887362,
  'dad': 2.321928094887362,
  'got': 2.321928094887362,
  'hate': 2.321928094887362,
  'kind': 2.321928094887362,
  'like': 2.321928094887362,
  'love': 0.32192809488736235,
  'mom': 2.321928094887362,
  'movi': 1.2877123795494494,
  'sinc': 2.321928094887362,
  'singl': 2.321928094887362,
  'theater': 2.321928094887362,
  'watch': 0.6438561897747247}}

## 1.6. Generar el espacio vectorial

Usando las funciones anteriores vamos a construir la matriz de documentos (en filas) y términos (en columnas). Para facilitar la tarea usaremos una estructura de datos ya conocida, el **dataframe**.

In [416]:
import pandas as pd

def generate_dataframe ( data ):
  all_words =  get_vocabulary(data)# TODO : obtener el vocabulario
  idf_score =  calculate_idf(data)# TODO : calcular idf
  tf_idf_score = calculate_tfidf(data,idf_score)  # TODO : calcular if*idf

  table = []

  for doc in tf_idf_score.keys():
    d={}
    for word in all_words:
      try:
        d[word]=tf_idf_score[doc][word]
      except:
        d[word]=0
        continue
            
    table.append(d)
  

  df = pd.DataFrame ( table , index = tf_idf_score.keys())
  return df

df_data = generate_dataframe (data_docs)
df_data.head(5)

,alon,anim,best,brother,cold,colleg,dad,ever,fill,film,...,scari,sinc,singl,stori,suspens,theater,toy,twist,unexpect,watch
doc01,0.000000,0.000000,0.000000,0.000000,2.321928,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.321928
doc02,0.000000,2.321928,2.321928,0.000000,0.000000,0.000000,0.000000,2.321928,0.000000,0.000000,...,0.000000,0.000000,0.000000,2.321928,0.000000,0.000000,2.321928,0.000000,0.000000,0.000000
doc03,2.321928,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.321928,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.321928
doc04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.321928,2.321928,...,0.000000,0.000000,0.000000,0.000000,2.321928,0.000000,0.000000,2.321928,2.321928,0.321928
doc05,0.000000,0.000000,0.000000,2.321928,0.000000,2.321928,2.321928,0.000000,0.000000,0.000000,...,0.000000,2.321928,2.321928,0.000000,0.000000,2.321928,0.000000,0.000000,0.000000,0.643856

## 1.7. Generar el índice invertido

De manera similar, vamos a generar un índice invertido que almacenaremos en una estructura de datos Python: el **diccionario**.

In [417]:
def generate_inverted_index(data):

    all_words = get_vocabulary(data)  # TODO : obtener el vocabulario
    idf_score =  calculate_idf(data)# TODO : calcular idf
    tf_idf_score = calculate_tfidf(data,idf_score)  # TODO : calcular if*idf

    index = {}
    for word in all_words:
        for doc, tokens in tf_idf_score.items():
            try:            
                index[word] = [(doc,tokens[word])]
            except:
                continue
            
    return index

inverted_index = generate_inverted_index (data_docs)

inverted_index

{'alon': [('doc03', 2.321928094887362)],
 'anim': [('doc02', 2.321928094887362)],
 'best': [('doc02', 2.321928094887362)],
 'brother': [('doc05', 2.321928094887362)],
 'cold': [('doc01', 2.321928094887362)],
 'colleg': [('doc05', 2.321928094887362)],
 'dad': [('doc05', 2.321928094887362)],
 'ever': [('doc02', 2.321928094887362)],
 'fill': [('doc04', 2.321928094887362)],
 'film': [('doc04', 2.321928094887362)],
 'got': [('doc05', 2.321928094887362)],
 'hate': [('doc05', 2.321928094887362)],
 'horror': [('doc03', 2.321928094887362)],
 'kind': [('doc05', 2.321928094887362)],
 'like': [('doc05', 2.321928094887362)],
 'love': [('doc05', 0.32192809488736235)],
 'mom': [('doc05', 2.321928094887362)],
 'movi': [('doc05', 1.2877123795494494)],
 'night': [('doc03', 2.321928094887362)],
 'outsid': [('doc01', 2.321928094887362)],
 'plot': [('doc04', 2.321928094887362)],
 'realli': [('doc03', 2.321928094887362)],
 'scari': [('doc03', 2.321928094887362)],
 'sinc': [('doc05', 2.321928094887362)],
 'singl': [('doc05', 2.321928094887362)],
 'stori': [('doc02', 2.321928094887362)],
 'suspens': [('doc04', 2.321928094887362)],
 'theater': [('doc05', 2.321928094887362)],
 'toy': [('doc02', 2.321928094887362)],
 'twist': [('doc04', 2.321928094887362)],
 'unexpect': [('doc04', 2.321928094887362)],
 'watch': [('doc05', 0.6438561897747247)]}

## 1.8. Resolución de consultas

Vamos a resolver consultas (obtener los documentos más relevantes) considerando la consulta como un vector y comparándolo con el conjunto de documentos mediante la **similitud del coseno**. 

Para ello vamos a utilizar la librería [sklearn](https://scikit-learn.org/stable/), aunque sólo la funcionalidad para calcular la similitud del coseno.

In [418]:
# generar un dataframe para la consulta

q = "I watched alone a horror movie"

def generate_query_dataframe ( vocabulary , q ):

  # TODO : preprocesar las palabras de la consulta
  q_dict = stem_words(remove_stop_words(
      tokenize_and_remove_punctuations(q)))
  
  d =  {}
  for i in vocabulary:
    if i in q_dict:
      d[i] = 1
    else:
      d[i] = 0 # TODO : generar un dataframe con la misma estructura 
  table = []  
            # TODO : si el token está en la consulta se pone 1 en otro caso 0
  table.append (d)

  df = pd.DataFrame ( table  , index ={'q1'} )
  return df 

df_query =  generate_query_dataframe ( get_vocabulary(data_docs)  , q )
df_query.head()

,alon,anim,best,brother,cold,colleg,dad,ever,fill,film,...,scari,sinc,singl,stori,suspens,theater,toy,twist,unexpect,watch
q1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [419]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

# TODO : calcular la similitud del coseno e indicar qué documento es el más próximo a la consulta
%time q_cossim = cosine_similarity(df_data.to_numpy(), df_query.head(1).to_numpy())

print (q_cossim.flatten())
ind = np.unravel_index ( np.argmax(q_cossim, axis=None), q_cossim.shape)
print ('Documento más similar : %s (%s) ' %  (documents[ind[0]],docIds[ind[0]]) )

Wall time: 0 ns
[0.09665456 0.03088388 0.50727185 0.02821094 0.1231711 ]
Documento más similar : Watching horror movies alone at night is really scary (doc03)

# Parte 2. Stack Overflow

Stack Overflow es un sitio de preguntas y respuestas para programadores profesionales y aficionados. Contiene preguntas y respuestas sobre una amplia gama de temas de programación.

En este ejercicio vamos a usar en subconjunto del dataset original que contiene 500 posts. El dataset se obtiene del volcado de Stack Overflow en Big Query de Google.

Lo primero que hay que hacer es leer línea por línea el archivo JSON `stackoverflow-test.json` y meterlo en lun DataFrame de pandas. (Nota: `lines=True` indica que se trate cada línea como una cadena json)

In [420]:
import pandas as pd
import json

In [421]:
stackoverflow_df = pd.read_json("stackoverflow-test.json", lines=True)  # TODO

In [422]:
stackoverflow_df.head(5)

,id,title,body,accepted_answer_id,answer_count,comment_count,creation_date,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,post_type_id,score,tags,view_count,favorite_count
0,3247246,Integrate War-Plugin for m2eclipse into Eclips...,<p>I set up a small web project with JSF and M...,3247526.0,2,0,2010-07-14 14:39:48.053 UTC,2010-07-14 16:02:19.683 UTC,2010-07-14 15:56:37.803 UTC,,70604.0,,389430.0,1,2,eclipse|maven-2|tomcat|m2eclipse,1653,NaN
1,40270764,phantomjs-node page.evaulate seems to hang,<p>I have an implementation of 'waitfor' with ...,NaN,1,0,2016-10-26 19:35:00.537 UTC,2016-11-02 20:05:09.143 UTC,NaN,,NaN,,245076.0,1,0,node.js|phantomjs,35,NaN
2,27532383,Dynamic operations can only be performed in ho...,<p>I'm working with an API that requires:</p>\...,NaN,1,0,2014-12-17 18:31:18.6 UTC,2014-12-17 19:57:43.443 UTC,NaN,,NaN,,3105880.0,1,1,c#|asp.net-mvc,4372,NaN
3,33511888,CSS with relative URL to background image?,<p>I have a file structure of:</p>\n\n<pre><co...,NaN,2,2,2015-11-04 00:50:35.223 UTC,2015-11-04 01:51:03.037 UTC,2015-11-04 01:51:03.037 UTC,,5464492.0,,5464492.0,1,0,css|background-image,406,NaN
4,46160163,Share canvas image on android,<p>Hello so I write a small game where in the ...,46160246.0,1,0,2017-09-11 16:19:18.32 UTC,2017-09-11 16:24:12.69 UTC,NaN,,NaN,,8570512.0,1,0,android|canvas|bitmap|share,52,NaN

Examinar el dataset para ver qué dimensiones y qué tipos de datos contiene.

In [423]:
stackoverflow_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        500 non-null    int64
 1   title                     500 non-null    object
 2   body                      500 non-null    object
 3   accepted_answer_id        253 non-null    float64
 4   answer_count              500 non-null    int64
 5   comment_count             500 non-null    int64
 6   creation_date             500 non-null    object
 7   last_activity_date        500 non-null    object
 8   last_edit_date            257 non-null    object
 9   last_editor_display_name  500 non-null    object
 10  last_editor_user_id       254 non-null    float64
 11  owner_display_name        500 non-null    object
 12  owner_user_id             494 non-null    float64
 13  post_type_id              500 non-null    int64
 14  score                     500 non-null    int64
 15  tags                      500 non-null    object
 16  view_count                500 non-null    int64
 17  favorite_count            87 non-null     float64
dtypes: float64(4), int64(6), object(8)
memory usage: 70.4+ KB

Observad que el dataset tiene 19 campos que incluyen título `title`, cuerpo `body`, `tags`, fechas y otros metadatos que no necesitaremos en esta ocasión. 


El interés se centra en el cuerpo y en el título que forman la fuente de texto.Para ello vamos a crear un campo `text` que combina `title` y `body` en uno solo.

In [424]:
stackoverflow_df['text'] = stackoverflow_df['title'].astype(
    str) + stackoverflow_df['body'].astype(str)  # TODO
stackoverflow_df['text'][2]

'Dynamic operations can only be performed in homogenous AppDomain<p>I\'m working with an API that requires:</p>\n\n<pre><code>&lt;trust level="Full" legacyCasModel="true"/&gt;\n</code></pre>\n\n<p>to be set in my web.config file in order to work.   This works without a problem in VS 2010, but when I use VS 2013 I get an error stating that dynamic operations can only be performed in homogeneous AppDomain.   The project is targeting .NET framework 4.0 and is an asp.net MVC project.</p>\n\n<p>I tried changing legacyCasModel to "false", but then I can\'t access the object I need. Not sure how to resolve this issue. How can I use legacyCasModel="true" in VS2013 with dynamic expressions?    </p>'

Como se puede observar el texto contiene bastante "ruido" y es necesario procesarlo para que pueda ser útil. Hay que conseguir una cadena de texto en el que se eliminen palabras vacías, tags de html, carácteres extraños, etc. No resulta recomendable lematizar las palabras en esta ocasión.

In [425]:
stackoverflow_df['mtext']= stackoverflow_df['text'].apply(preprocess_text,stem=False)
stackoverflow_df['mtext']=stackoverflow_df['mtext'].astype(str)
stackoverflow_df['mtext'][2]

"['dynamic', 'operations', 'performed', 'homogenous', 'appdomaini', 'working', 'api', 'requires', 'trust', 'level', 'full', 'legacycasmodel', 'true', 'set', 'web', 'config', 'file', 'order', 'work', 'works', 'without', 'problem', 'use', 'get', 'error', 'stating', 'dynamic', 'operations', 'performed', 'homogeneous', 'appdomain', 'project', 'targeting', 'net', 'framework', 'asp', 'net', 'mvc', 'project', 'tried', 'changing', 'legacycasmodel', 'false', 'access', 'object', 'need', 'sure', 'resolve', 'issue', 'use', 'legacycasmodel', 'true', 'dynamic', 'expressions']"

In [426]:
stackoverflow_df.head(5)

,id,title,body,accepted_answer_id,answer_count,comment_count,creation_date,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,post_type_id,score,tags,view_count,favorite_count,text,mtext
0,3247246,Integrate War-Plugin for m2eclipse into Eclips...,<p>I set up a small web project with JSF and M...,3247526.0,2,0,2010-07-14 14:39:48.053 UTC,2010-07-14 16:02:19.683 UTC,2010-07-14 15:56:37.803 UTC,,70604.0,,389430.0,1,2,eclipse|maven-2|tomcat|m2eclipse,1653,NaN,Integrate War-Plugin for m2eclipse into Eclips...,"['integrate', 'war', 'plugin', 'eclipse', 'ecl..."
1,40270764,phantomjs-node page.evaulate seems to hang,<p>I have an implementation of 'waitfor' with ...,NaN,1,0,2016-10-26 19:35:00.537 UTC,2016-11-02 20:05:09.143 UTC,NaN,,NaN,,245076.0,1,0,node.js|phantomjs,35,NaN,phantomjs-node page.evaulate seems to hang<p>I...,"['phantomjs', 'node', 'page', 'evaulate', 'see..."
2,27532383,Dynamic operations can only be performed in ho...,<p>I'm working with an API that requires:</p>\...,NaN,1,0,2014-12-17 18:31:18.6 UTC,2014-12-17 19:57:43.443 UTC,NaN,,NaN,,3105880.0,1,1,c#|asp.net-mvc,4372,NaN,Dynamic operations can only be performed in ho...,"['dynamic', 'operations', 'performed', 'homoge..."
3,33511888,CSS with relative URL to background image?,<p>I have a file structure of:</p>\n\n<pre><co...,NaN,2,2,2015-11-04 00:50:35.223 UTC,2015-11-04 01:51:03.037 UTC,2015-11-04 01:51:03.037 UTC,,5464492.0,,5464492.0,1,0,css|background-image,406,NaN,CSS with relative URL to background image?<p>I...,"['css', 'relative', 'url', 'background', 'imag..."
4,46160163,Share canvas image on android,<p>Hello so I write a small game where in the ...,46160246.0,1,0,2017-09-11 16:19:18.32 UTC,2017-09-11 16:24:12.69 UTC,NaN,,NaN,,8570512.0,1,0,android|canvas|bitmap|share,52,NaN,Share canvas image on android<p>Hello so I wri...,"['share', 'canvas', 'image', 'androidhello', '..."

## 2.1 Count Vectorizer

A continuación se necesita obtener un vocabulario de palabras usadas y comenzar el proceso de contabilización.

La **vectorización** es el proceso por el que se convierte una colección de textos en un vector de características numérico. El modelo que seguimos es el de bolsa de palabras o Bag-of-Words, donde los documentos se describen por las palabras que aparecen en el texto, ignorando su posición relativa o su importancia en el texto.

**CountVectorizer** convierte una colección de documentos en una matriz de contadores que son las apariciones de cada token en cada documento.

In [427]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer (max_df=0.85) # max_df : eliminar si la palabra está en el 85% de los documentos

word_count_vector = vectorizer.fit_transform(stackoverflow_df['mtext'])# TODO : transformar el texto limpio

In [428]:
word_count_vector.shape

(500, 8308)

Una vez contabilizado el texto se pueden ver algunas palabras del vocabulario:

In [429]:
list(vectorizer.vocabulary_.keys())[:10]

['integrate',
 'war',
 'plugin',
 'eclipse',
 'projecti',
 'set',
 'small',
 'web',
 'project',
 'jsf']

Las columnas de la matriz son las características o tokens detectados en el texto y se pueden ver con la función `get_feature_names()`.

In [430]:
print (vectorizer.get_feature_names()[-10:] )

vocabulary = vectorizer.get_feature_names()

['zii', 'zip', 'zipped', 'zipwith', 'zlib', 'zlibinflated', 'zoom', 'zoomed', 'zygoteinit', 'ﬁnal']

C:\Users\lau92\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

El resultado es una matriz `sparse matrix` que representa las cuentas de las palabras. Cada columna representa una palabra en el vocabulario y cada fila representa un documento (un post) en el datataset y cada celda el números de apariciones de la palabra en el documento.

**¿Cuál es el tamaño del vocabulario?**

In [431]:
len(vocabulary)

8308

In [432]:
# wc_df = pd.DataFrame(word_count_vector.toarray(), columns=vectorizer.get_feature_names(
# ), index=[f'document[{x}]' for x in range(0, word_count_vector.shape[0])])  # TODO
# wc_df.head(10)

Por comodidad, podemos convertir la matriz en un DataFrame en el que las filas sean los documentos y las columnas el vocabulario:

In [433]:
wc_df = pd.DataFrame(word_count_vector.toarray(), columns=vectorizer.get_feature_names_out())  # TODO
wc_df.head(10)

,aapl,aapt,abandoned,abb,abbrev,abby,abc,abcd,abdias,ability,...,zii,zip,zipped,zipwith,zlib,zlibinflated,zoom,zoomed,zygoteinit,ﬁnal
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Con del DataFrame es más fácil hacer consultas. 

**¿En qué post de stackoverflow aparece más veces la palabra `eclipse`?**

In [442]:
eclipse_idx = wc_df[["eclipse"]].idxmax()[0]  # TODO

pd.set_option("display.max_colwidth", 50)
list(stackoverflow_df[stackoverflow_df.index == eclipse_idx]['mtext'])

["['running', 'executable', 'jar', 'file', 'using', 'eclipsei', 'project', 'file', 'includes', 'jar', 'file', 'monix', 'jar', 'data', 'models', 'plugins', 'developers', 'provide', 'source', 'code', 'need', 'run', 'working', 'eclipse', 'env', 'tried', 'steps', 'extracted', 'eclipse', 'workspace', 'extracted', 'folder', 'named', 'monix', 'eclipse', 'run', 'external', 'tools', 'external', 'tools', 'configurations', 'set', 'location', 'main', 'tab', 'eclipse', 'workspace', 'monix', 'data', 'gate', 'plugins', 'annie', 'build', 'xml', 'ofcourse', 'tried', 'path', 'program', 'files', 'project', 'java', 'bin', 'java', 'exe', 'brows', 'file', 'system', 'button', 'set', 'working', 'directory', 'path', 'project', 'folder', 'eclipse', 'workspace', 'monix', 'brows', 'file', 'system', 'button', 'developers', 'provided', 'syntax', 'running', 'monix', 'inputdirectory', 'outputdirectory', 'set', 'arguments', 'according', 'syntax', 'monix', 'monixinputs', 'monixoutput', 'run', 'error', 'exception', 'occurred', 'executing', 'command', 'line', 'run', 'program', 'eclipse', 'workspace', 'monix', 'data', 'gate', 'plugins', 'annie', 'build', 'xml', 'directory', 'eclipse', 'workspace', 'monix', 'createprocess', 'error', 'valid', 'win', 'application', 'totally', 'confused', 'really', 'need', 'help', 'thanks', 'advance']"]

## 2.2 TF*IDF TfidfTransformer


Ya hemos visto en qué consiste el método $TF*IDF$. Con el objeto **TfidfTransformer** se pueden calcular las puntuaciones TF-IDF.

In [486]:
from sklearn.feature_extraction.text import TfidfTransformer

transformer = TfidfTransformer (smooth_idf=True, use_idf=True)
tf_idf_matrix = transformer.fit_transform(word_count_vector)  #TODO : transformar word_count_vector en tf*idf

Este código ha generado una matriz de puntuaciones tf-idf. ¿Las dimensiones de esta matriz coinciden con la obtenida de `CountVectorize`?

In [444]:
tf_idf_matrix.shape #TODO

(500, 8308)

In [485]:
def sort_coo(coo_matrix):
    tuples = zip(coo_matrix.col, coo_matrix.data)
    return sorted(tuples, key=lambda x: (x[1], x[0]), reverse=True)
sorted_items=sort_coo(tf_idf_matrix.tocoo())

AttributeError: 'list' object has no attribute 'tocoo'

De la misma forma, vamos a convertir la matriz en un DataFrame:

In [537]:
tf_idf_df = pd.DataFrame (tf_idf_matrix.toarray(), columns=vectorizer.get_feature_names_out()) # TODO

tf_idf_df[tf_idf_df['python']>0.1]['python']

86     0.242081
89     0.149126
149    0.136325
277    0.204171
322    0.437338
377    0.110072
398    0.139595
414    0.218184
Name: python, dtype: float64

Es posible ordenar valores tf-idf en orden descendente:

In [538]:
tf_idf_df['try'].nlargest(n=10)

197    0.107599
429    0.099571
374    0.081433
422    0.072375
0      0.071129
494    0.070200
419    0.069221
247    0.069000
113    0.068414
392    0.063040
Name: try, dtype: float64

El objetivo a continuación es extraer las $n$ palabras clave (`keywords`) que mejor representen cada una de las cuestiones planteadas en los datos de stackoverflow, según las puntuaciones tf-idf.

In [539]:
tf_idf_df

,aapl,aapt,abandoned,abb,abbrev,abby,abc,abcd,abdias,ability,...,zii,zip,zipped,zipwith,zlib,zlibinflated,zoom,zoomed,zygoteinit,ﬁnal
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [540]:
def extract_topn_keywords (row, vocabulary,topn=10):
  # TODO 
  # TODO
  row2 = row.nlargest(n=topn)
  result = {}
  wordList=[]
  puntuacion=[]
  for word , score in row2.items():
      wordList.append(word)
      puntuacion.append(score)
  
  # # TODO
   
  
  for idx in range(len(wordList)):
        result[wordList[idx]]=puntuacion[idx]

  return result
for row in tf_idf_df[0:2].iterrows():
  print (extract_topn_keywords(row[1],vocabulary))

{'eclipse': 0.5744674642440583, 'integrate': 0.30504671412710993, 'tomcat': 0.30504671412710993, 'war': 0.28608655810735895, 'maven': 0.2621995864991729, 'plugin': 0.24022151252401078, 'project': 0.16988859968295913, 'deploys': 0.15252335706355497, 'automate': 0.14304327905367947, 'jsf': 0.14304327905367947}
{'sitepage': 0.44471044664215, 'evaluate': 0.34777569665716396, 'content': 0.3238927142785324, 'phinstance': 0.27794402915134375, 'log': 0.2361234668777221, 'console': 0.22960977403737629, 'function': 0.1844533385172287, 'return': 0.16983181818888637, 'phantom': 0.16676641749080623, 'promise': 0.14334226098176425}

In [465]:
vocabulary[1]

'aapt'

In [551]:
stackoverflow_df['keywords'] = stackoverflow_df['keywords'].apply(lambda x : extract_topn_keywords(x[1],vocabulary))

AttributeError: 'str' object has no attribute 'nlargest'

In [534]:
stackoverflow_df['keywords'] =  stackoverflow_df['keywords'].apply(lambda x: stackoverflow_df[x])#TODO : para cada documento generar una columna con el diccionario obtenido

TypeError: extract_topn_from_vector() missing 1 required positional argument: 'sorted_items'

In [532]:
stackoverflow_df.tail(5)

,id,title,body,accepted_answer_id,answer_count,comment_count,creation_date,last_activity_date,last_edit_date,last_editor_display_name,...,owner_display_name,owner_user_id,post_type_id,score,tags,view_count,favorite_count,text,mtext,keywords
495,5972679,Is there any .NET string.format compatible fun...,<p>Is there any .NET string.format compatible ...,6001444.0,1,8,2011-05-12 02:23:05.997 UTC,2011-05-14 11:16:16.3 UTC,2011-05-14 11:16:16.3 UTC,,...,,26736.0,1,4,delphi|formatting,403,NaN,Is there any .NET string.format compatible fun...,"['net', 'string', 'format', 'compatible', 'fun...",<function extract_topn_from_vector at 0x000002...
496,21473995,How to handle failed XPATH lookup in MSXML fro...,<p>I am parsing a piece of XML returned from a...,21512998.0,2,0,2014-01-31 06:41:50.217 UTC,2014-02-02 16:33:58.39 UTC,NaN,,...,,274354.0,1,0,autoit|msxml,534,NaN,How to handle failed XPATH lookup in MSXML fro...,"['handle', 'failed', 'xpath', 'lookup', 'msxml...",<function extract_topn_from_vector at 0x000002...
497,11279736,Logo Animation - Don't know where to begin,<p>I'm trying to have a cool little animation ...,11897603.0,2,2,2012-07-01 05:07:28.437 UTC,2013-02-12 12:19:48.26 UTC,2013-02-12 12:19:48.26 UTC,,...,,1193321.0,1,1,android|opengl-es|android-animation,858,NaN,Logo Animation - Don't know where to begin<p>I...,"['logo', 'animation', 'know', 'begini', 'tryin...",<function extract_topn_from_vector at 0x000002...
498,33005260,How to introduce a new variable in Coq?,<p>I was wondering if there is a way to introd...,33005343.0,3,0,2015-10-08 01:44:46.92 UTC,2015-10-08 16:10:57.683 UTC,NaN,,...,,683218.0,1,2,coq|coq-tactic,933,2.0,How to introduce a new variable in Coq?<p>I wa...,"['introduce', 'new', 'variable', 'coq', 'wonde...",<function extract_topn_from_vector at 0x000002...
499,38318410,Facebook PHP SDK login and localhost,<p>I am trying to set FB SDK to work in my loc...,NaN,2,3,2016-07-12 00:58:03.357 UTC,2016-08-04 19:27:27.847 UTC,NaN,,...,,5849229.0,1,0,php|facebook|sdk|facebook-javascript-sdk|faceb...,513,NaN,Facebook PHP SDK login and localhost<p>I am tr...,"['facebook', 'php', 'sdk', 'login', 'localhost...",<function extract_topn_from_vector at 0x000002...

Ahora hay que buscar los dos posts que sean más similares entre sí. Para ello vamos a calcular la **similitud del coseno** entre las matrices tf- idf:

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

tf_idf_cossim =  # TODO
np.fill_diagonal(tf_idf_cossim, 0.0) # anular la diagonal principal
ind =  # TODO: localizar el máximo

In [ ]:
# TODO : visualizar ambos posts

In [ ]:
import numpy as np
import seaborn as sns
import matplotlib.pylab as plt

f, ax = plt.subplots(figsize=(15, 15))

A = tf_idf_cossim.flatten().reshape (500,500)

mask = np.zeros_like(A, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

ax = sns.heatmap(A, mask=mask, square=True,  fmt='.2f', cbar_kws={"shrink": .5},
                 vmax=1.0, vmin=.3, cmap="hot")

ax.set_title("Heatmap of cosine similarity scores").set_fontsize(15)


ax.set_xlabel("")
ax.set_ylabel("")
plt.show()

En esta última sección,  vamos a presentar el algoritmo de clustering [K-Means](https://en.wikipedia.org/wiki/K-means_clustering), un algoritmo de clustering no supervisado que nos va a agrupar las diferentes cuestiones planteadas en Stack Overflow en diferentes grupos.


El objetivo de K-Means es sencillo: agrupar datos similares y descubrir patrones subyacentes. Para lograr esto, K-Means busca un número fijo $k$ de centroides en el dataset. Un centroide es el centro de un cluster y un cluster es una collección de datos reunidos que tienen ciertas similitudes entre ellos. El ‘means’ se refiere al promediado de los datos encontrando el centroide. El algoritmo es no supervisado pues no tiene conocimiento de los grupos en el dataset, es decir, encontrará los grupos subyacentes en el dataset.

Vamos a ver cómo funciona K-Means para los datos de tf-idf:

In [ ]:
from sklearn.cluster import KMeans

k = 5 
kmeans = KMeans(n_clusters=k).fit(tf_idf_df)

El algoritmo ha agrupado cada uno de los documentos en uno de los 5 cluster definidos:

In [ ]:
kmeans.labels_

Una cuestión importante es que el parámetro que indica el número de cluster $k$ hay que proporcionárselo y no sabemos, a priori, cuántos clúster podría haber subyacentes.

Para ello vamos a realizar el proceso con varios valores de $k$ para ver cuál es más adecuado:

In [ ]:
def run_KMeans(max_k, data):
    max_k += 1
    kmeans_results = dict()
    for k in range(2 , max_k):
        kmeans = KMeans(n_clusters =  # TODO
                        , init = 'k-means++'
                        , n_init = 10
                        , tol = 0.0001
                        , n_jobs = -1
                        , random_state = 1
                        , algorithm = 'full')

        kmeans_results [] =  # TODO : poner en un diccionario
    return kmeans_results

kmeans_results = kmeans_results = run_KMeans (12, tf_idf_df)

Para determinar cómo de cohesionado está un cluster en relación con los otros clusters existe una medida denominada silueta (silhouette) que nos indica precisamente esto:

In [ ]:
from sklearn.metrics import silhouette_score

def silhouette(kmeans_dict, df, plot=False):
    sil = dict()
    for k, kmeans in kmeans_dict.items():      
        kmeans_labels = kmeans.predict(df)
        silhouette_avg = silhouette_score(df, kmeans_labels) 
        sil[] = # TODO: añadir a diccionario

    return sil

sil_results = silhouette ( kmeans_results, tf_idf_df )
print (sil_results)

# TODO: Qué valor de k obtiene el mejor valor de silueta 
best_k = 
print (best_k)

Una vez obtenido el valor de cluster que mejor podría describir la agrupación de los datos, vamos a hacer una predicción sobre los datos con la función `fit_predict` con el objeto kmeans que corresponde a `best_k`:

In [ ]:
prediction =  # TODO

In [ ]:
stackoverflow_df['cluster'] =  # TODO: añadir las predicciones a stackoverflow_df

stackoverflow_df.head(5)

Una vez definidos los clusters, vamos a ver cuáles son las palabras clave que definen cada uno de los clusters:

In [ ]:
# Definir un par de funciones auxiliares

def get_top_features_cluster(tf_idf_array, prediction, n_feats):
    labels = np.unique(prediction)
    dfs = []
    for label in labels:
        id_temp = np.where(prediction==label) # 
        x_means = np.mean(tf_idf_array[id_temp], axis = 0) # 
        sorted_means = np.argsort(x_means)[::-1][:n_feats] # 
        features = vectorizer.get_feature_names()
        best_features = [(features[i], x_means[i]) for i in sorted_means]
        df = pd.DataFrame(best_features, columns = ['words', 'score'])
        dfs.append(df)
    return dfs


def plotWords(dfs, n_feats):
    plt.figure(figsize=(8, 4))
    for i in range(0, len(dfs)):
        plt.title(("Most Common Words in Cluster {}".format(i)), fontsize=10, fontweight='bold')
        sns.barplot(x = 'score' , y = 'words', orient = 'h' , data = dfs[i][:n_feats])
        plt.show()

n_feats = 5 # Num. palabras a representar
dfs = get_top_features_cluster(tf_idf_df.to_numpy(), prediction, n_feats)
plotWords(dfs, n_feats)  #

**¿En qué cluster se encuentran las preguntas relativas a Android?** 

**¿De qué tratan los post/preguntas/documentos que se encuentran en el cluster 7?**

---

# Parte 3. Declaración Universal de los Derechos Humanos

La [Declaración Universal de los Derechos Humanos](https://en.wikipedia.org/wiki/Universal_Declaration_of_Human_Rights) es un documento adoptado por la Asamblea General de las Naciones Unidas en su Resolución 217 A (III), el 10 de diciembre de 1948 en París, ​ que recoge en sus 30 artículos los derechos humanos considerados básicos.

In [ ]:
nltk.download('udhr')
  
from nltk.corpus import udhr

[nltk_data] Downloading package udhr to
[nltk_data]     C:\Users\lau92\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\udhr.zip.

Una vez importado el contenido, para ver los idiomas en los que se encuentran disponible:

In [ ]:
udhr.fileids()[:10]

['Abkhaz-Cyrillic+Abkh',
 'Abkhaz-UTF8',
 'Achehnese-Latin1',
 'Achuar-Shiwiar-Latin1',
 'Adja-UTF8',
 'Afaan_Oromo_Oromiffa-Latin1',
 'Afrikaans-Latin1',
 'Aguaruna-Latin1',
 'Akuapem_Twi-UTF8',
 'Albanian_Shqip-Latin1']

Vamos a seleccionar 5 idiomas para recopilar estadísticas: 4 vienen prefijados y 1 será de tu elección

In [ ]:
langs = ['English-Latin1', 'Spanish_Espanol-Latin1', 'French_Francais-Latin1',
         'Catalan_Catala-Latin1', 'Quechua-Latin1'] #TODO

Crear un Dataframe con los siguientes datos de cada idioma:

- Número de palabras en la Declaración Universal de Derecho Humanos (UDHR, en inglés)

- Número de palabras únicas

- Longitud media de las palabras

- Número de sentencias incluidas

- Número medio de palabras por sentencia

In [ ]:
def generate_udhr_stats():
  np_udhr=[]
  columns=['Language', 'WordCount','WordCountUnique',
           'NumberSentences','MeanWordLength','MeanWordsPerSentence']
          

  for lang in langs:
    text = udhr.raw (lang)
    procText=preprocess_text(text)
    palabras= len(procText)
    unicas=set(procText)
    promedio=sum(len(word) for word in unicas) / len(unicas)# TODO
    sentencias=re.split(r'[.!?]+', text)
    palabrasSentencias=[]
    for sent in sentencias:
      p = tokenize_and_remove_punctuations(sent)
      palabrasSentencias.append(len(p))
    mediaPalabrasSent=sum(palabrasSentencias)/len(sentencias)
    listaResultados=[lang,palabras,len(unicas),len(sentencias),promedio,mediaPalabrasSent]
    np_udhr.append(listaResultados)       # TODO
  return pd.DataFrame(np_udhr, columns=columns) # TODO
  # return resu
udhr_df = generate_udhr_stats()

In [ ]:
udhr_df.head(5)

,Language,WordCount,WordCountUnique,NumberSentences,MeanWordLength,MeanWordsPerSentence
0,English-Latin1,834,364,58,6.019231,27.551724
1,Spanish_Espanol-Latin1,1040,444,49,7.452703,32.040816
2,French_Francais-Latin1,1107,473,49,6.376321,32.734694
3,Catalan_Catala-Latin1,1101,479,84,6.906054,19.309524
4,Quechua-Latin1,1052,558,51,10.163082,22.098039

¿Cuál es la ***diversidad léxica*** (relación del número de palabras distintas entre el número total de palabras) en cada idioma?

In [ ]:
def lexical_diversity (row):
  return udhr_df['WordCountUnique']/udhr_df['WordCount'] # TODO

udhr_df['LD'] = udhr_df['WordCountUnique']/udhr_df['WordCount'] # TODO

In [ ]:
udhr_df

,Language,WordCount,WordCountUnique,NumberSentences,MeanWordLength,MeanWordsPerSentence,LD
0,English-Latin1,834,364,58,6.019231,27.551724,0.436451
1,Spanish_Espanol-Latin1,1040,444,49,7.452703,32.040816,0.426923
2,French_Francais-Latin1,1107,473,49,6.376321,32.734694,0.427281
3,Catalan_Catala-Latin1,1101,479,84,6.906054,19.309524,0.435059
4,Quechua-Latin1,1052,558,51,10.163082,22.098039,0.530418

---


La **ley Zipf** debe su nombre al lingüista norteamericano George Kingsley Zipf y dictamina que un pequeño número de palabras se utilizan todo el tiempo mientras que una gran mayoría de ellas apenas se utiliza. No es muy sorprendente que palabras muy frecuentes en textos en inglés sean `the`, `of` y similares, y que palabras como `intrauterine` apenas se utilicen. [https://en.wikipedia.org/wiki/Zipf%27s_law]

La ley Zipf puede escribirse de la siguiente forma: la $r$-ésima palabra más frecuente $f(r)$ escala según la fórmula: $f(r) \propto \frac{1}{r^{\alpha}}$ con $\alpha \approx 1$.

In [ ]:
import operator
from nltk.probability import FreqDist

text = udhr.raw( ) # TODO : elegir un idioma 

token_dict =  # TODO : obtener la frecuencia de todas las palabras 
sorted_token_dict =  # TODO : ordenar y quedarse con las 50 más frecuentes


sorted_token_list

In [ ]:
def createZipfTable(freqs):
  zipf_table = []
  top_frequency =   # TODO : la palabra más frecuente

  for index, item in enumerate(freqs , start=1):
    relative_frequency = "1/{}".format(index)
    zipf_frequency = top_frequency * (1 / index)
    zipf_table.append({"word": item[0], "actual_frequency": item[1], 
                       "relative_frequency": relative_frequency , 
                       "zipf_frequency": zipf_frequency })

  return zipf_table


zipf_table = createZipfTable (sorted_token_list)


print("|Rank|    Word    |       Freq | Zipf Frac  | Zipf Freq  |")
format_string = "|{:4}|{:12}|{:12.0f}|{:>12}|{:12.2f}|"
for index, item in enumerate(zipf_table,start=1):
        print(format_string.format(index,item["word"],item["actual_frequency"],
                                   item["relative_frequency"],item["zipf_frequency"]))

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

ranks = list (range ( 1, 1+len (zipf_table) ))
frequencies = [ rec['actual_frequency']  for rec in zipf_table ]
zipf_frequencies = [ rec['zipf_frequency'] for rec in zipf_table ] 

plt.figure(figsize=(8,6))

plt.title("Word Frequencies in UDHR:")
plt.ylabel("Total Number of Occurrences")
plt.xlabel("Rank of words")

plt.plot(
    ranks,
    frequencies, color='blue', label='Actual freq.',
    alpha=0.5
  )


plt.plot(
    ranks,
    zipf_frequencies, color="orange", label='Expected Zipf.',linestyle='--',
    alpha=0.5
  )

plt.legend()

**Comparar si los diferentes idiomas elegidos siguen la ley Zipf o divergen de ella.**